@{ Layout = "~/Views/Shared/_LayoutLogin.cshtml"; }

<h1 style="text-align:center" class="note note-info">Project Management System (PMS)</h1>

<p class="note note-info" style="margin-top:12%">
    <strong>Note:</strong>  User <strong>@ViewData["UserName"]</strong> registered Sucessfully
    <a asp-controller="account" asp-action="login" class="stretched-link">Click here to login</a>
</p>